.kfc{
    color:gray;
}
.pro{
    color:royalblue;
    border-bottom:royalblue dotted 1px;
}
.obot1{
    display: block;
    width: 375px;
    height: 113px;
    overflow: auto;
    margin-left: 12px;
    margin-top: 11px;
}
.obot{
    
    display: block;
    width: 375px;
    height: 37px;
    overflow: auto;
    margin-left: 12px;
    margin-top: 11px;

}
.butm{
    width: 228px;
    height: 36px;
    background: rgba(0, 177, 232, 0.87);
    margin-top: 17px;
    margin-left: 9px;
    padding-left: 152px;
    padding-top: 11px;

}
.butm a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 600;
    overflow: initial;
}
::placeholder { 
    padding-left: 7px;
    opacity: 1; 
    font-family: cursive;
    color:#d4c5c5cf;
}
.butm::placeholder{
    padding-top:20px;

}
